#yogaMat {
    width: 8%; /* slightly smaller */
    height: auto;
    left: 76.2%; /* ~1 inch to the right */
    top: 55%; /* slightly up, leaning into fireplace */
}

#dumbbell {
    width: 7%; /* slightly bigger */
    height: auto;
    left: 18.5%; /* 1 cm right */
    top: 52%; /* 4 inch up */
}

#brownie {
    width: 12%; /* slightly bigger */
    height: auto;
    left: 15%; 
    top: 59%; /* 3 cm up */
}
